@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #1E40AF;
}

html,
body,
#root {
    height: 100%;
}

body {
    font-family: Inter, ui-sans-serif, system-ui, sans-serif;
    background-color: #F9FAFB;
    color: #111827;
}

.heading-font {
    font-family: Poppins, ui-sans-serif, system-ui, sans-serif;
}

.mono-font {
    font-family: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}